---
---

@import "bootstrap-reboot";
@import "bootstrap-grid";

body {
    font-size: 20px;
    hyphens: auto;
    word-break: break-word;
}

.toc-wrapper {
    font-size: 0.9rem;
    background-color: white;
}

#toc-toggler {
    margin: 1rem 0;
}

.toc-container {
    display: none;
}
.toc-container.show {
    display: block;
}

.toc {
    a.collapse, a.collapse:visited {
        padding: 0px 2px;
        margin-left: 0.25rem;
        color: #bbb;
    }

    ol {
        list-style-type: none;
        padding-left: 0.5rem;
    }
    a, a:visited {
        color: blue;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .toc-link-h1 {
        font-weight: bold;
    }
    .toc-li-h1:not(:first-child) {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .toc-menu {
        display: none;
    }
    .toc-container {
        display: block !important;

        position: sticky;
        top: 0;
    
        height: 100vh;
        overflow-y: auto;
    } 
}

.annotation-wrapper {
    background-color: #eee;
    display: none;
}

@media screen and (min-width: 576px) {
    .annotation-wrapper {
        display: block;
    }
}

#clear-annotation {
    position: absolute;
    right: 5px;
    top: 5px;
}

.annotation {
    position: sticky;
    top: 0;
    
    height: 100vh;
    overflow-y: auto;

    p {
        font-size: 0.9em;
    }
    a, a:visited {
        color: blue;
        text-decoration: none;
    }
}

.content {
    line-height: 1.5;
}

.content p:first-child {
    font-size: 0.8rem;
}

.content {

    hr {
        page-break-after: always;
        margin: 2rem 0;
    }


    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
        break-after: avoid;
        page-break-inside:avoid;
        break-inside:avoid;
    }

    h1+ul, h2+ul, h3+ul, h3+ul, h4+ul, h5+ul,
    h1+ol, h2+ol, h3+ol, h3+ol, h4+ol, h5+ol,
    h1+p, h2+p, h3+p, h3+p, h4+p, h5+p {
        page-break-before: avoid;
        break-before: avoid;
    }

    h1 {
        font-size: 1.6rem;
        position: sticky;
        top: 0;
        background-color: white;
    }
    h2 {
        font-size: 1.3rem;
        padding-top: 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
        padding-top: 1.3rem;
    }
    h4 {
        font-size: 1.2rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    ol {
        padding-left: 1.5rem;
        padding-top: 0.5rem;
    }
    p {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    ol > li {
        padding-left: 0;
        text-indent: 0; 
        padding-bottom: 0.5rem;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    ul > li {
        padding-bottom: 1rem;
        margin-left: 1.7rem; 
        text-indent: -1.7rem;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .self, .self:visited {
        color: #bbb;
        text-decoration: none;
        margin-left: 0.2rem;
    }
    .self::after {
        content: '↗︎';
    }
    .ref, .ref:visited {
        font-size: 0.8rem;
        float: right;
        color: blue;
        text-decoration: none;
    }
    .ref:hover {
        text-decoration: underline;
    }
}

@media print{
    body {
        font-size: 13pt;
        // margin: 1rem 1.5rem 3rem 1rem;
    }
    .toc-wrapper, .annotation-wrapper {
        display: none;
    }
    .no-print {
        display: none;
    }
}
